<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение покупки</title>
    <link rel="stylesheet" href="../static/styles/making_a_purchase.css">    
</head>
<body>
    <div>
        <div class="container">
          
            <h1 class="logo"><img class="build" src="../static/icons/build.svg" alt="">АвтоДельта</h1>
            
            <h3>Оформление покупки</h3>
            
            <form method="POST">
                
                <input type="text" name="name" placeholder="Номер карты" required>
                <input type="text" name="surname" placeholder="Адрес доставки" required>
                
                <a href="/successful_purchase" class="purchase-btn">Оформить</a>
            </form>

        </div>

         <div>
            <h6>Если у вас есть вопросы, мы всегда рады помочь.<br>Свяжитесь с нами +7 (850) 589-48-43</h6>
        </div>
    </div>
</body>
</html>