<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная покупка</title>
    <link rel="stylesheet" href="../static/styles/successful_purchase.css">
</head>
<body>
    <div class="container">
        <h1 class="logo"><img class="build" src="../static/icons/build.svg" alt="">АвтоДельта</h1>
        
        <h5>Заказ успешно оформлен.</h5>
        <button>Вернуться</button>
        
       
    </div>
</body>
</html>