body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 1px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.build {
    width: 26px;
    height: 26px;;
    left: 0px;
    top: 6px;
    overflow: visible;
    position: relative;
    overflow: visible;
    aspect-ratio: 1;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

h6 {
    color: #000000;
    text-align: center;
    font-weight: lighter;

}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #d90c0c;
}
